{
  "name": "tdigestc",
  "description": "Compact, mergable data structure for streaming quantile estimation",
  "version": "{VERSION}",
  "license": "MIT",
  "author": {
    "name": "Andrew Werner",
    "email": "awerner32@gmail.com"
  },
  "files": [
    "tdigest.js",
    "tdigest_native.js",
    "tdigest_native.wasm"
  ],
  "repository": {
    "type": "git",
    "url": "https://github.com/ajwerner/tdigestc.git"
  },
  "homepage": "https://github.com/ajwerner/tdigestc.git",
  "bugs": {
    "url": "https://github.com/ajwerner/tdigestc/issues"
  },
  "devDependencies": {
    "jasmine": "~2.8.0",
    "tdigest": "~0.1.1"
  }
}
