from setuptools import setup

setup(
    name="tdigestc",
    version="{VERSION}",
    author="Andrew Werner",
    author_email="awerner32@gmail.com",
    description="Compact, approximate quantile estimation for data streams",
    packages=["tdigestc"],
    package_dir={"tdigestc": "python/tdigestc"},
    package_data={"tdigestc": ["tdigest.so"]},
    include_package_data=True,
)

